<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Collaboration agreements</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <section id="collab">
        <div>
            <div class="text-center">
                <h1 class="display-7 fw-bold">Samenwerkingsafspraken</h1>
                <h3 class="">tussen <strong>cliënt</strong>, <strong>reclassering</strong> en <strong>zorginstelling</strong>
                    (tijdens verblijf en ambulante begeleiding)</h3>
            </div>
            <h6 class="my-3">Welkom bij de start van het begeleidingstraject. Dit document is bedoeld om ervoor te zorgen dat we samen aan dezelfde doelen werken. We brengen ook risico’s en aandachtsgebieden in kaart. Samen vergroten we zo kans op een succesvol traject. De gemaakte afspraken gelden zolang het reclasseringstoezicht duurt.</h6>
            
            <table class="table-1">
                <thead>
                    <tr>
                        <th>Cliënt</th>
                        <th>Reclassering</th>
                        <th>Zorginstelling</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div><strong>Naam:</strong></div> <span>{{client_full_name}}</span>
                        </td>
                        <td>
                            <div><strong>Naam:</strong></div><span>{{probation_full_name}}</span>
                        </td>
                        <td>
                            <div><strong>Naam:</strong></div><span>{{healthcare_institution_name}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div><strong>SKN:</strong></div> <span>{{client_SKN}}</span>
                        </td>
                        <td>
                            <div><strong>Organisatie:</strong></div><span>{{probation_organization}}</span>
                        </td>
                        <td>
                            <div><strong>Organisatie:</strong></div><span>{{healthcare_institution_organization}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div><strong>Cliëntnummer:</strong></div><span>{{client_number}}</span>
                        </td>
                        <td>
                            <div><strong>Telefoonnummer:</strong></div><span>{{probation_phone}}</span>
                        </td>
                        <td>
                            <div><strong>Telefoonnummer:</strong></div><span>{{healthcare_institution_phone}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div><strong>Telefoonnummer:</strong></div><span>{{client_phone}}</span>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                </tbody>
                
                
            </table>
            
            <div class="border-bottom" style="background-color: #e8f1da; border-radius: 6px; padding: 20px; margin-top: 20px;">
                <h3>De 3 Basisafspraken</h3>
                <p>De <strong>cliënt</strong> werkt mee aan het traject door zich te houden aan:</p>
                <ol>
                    <li>de afspraken die gemaakt worden met de reclasseringswerker en begeleider en werkt actief mee aan het reclasseringstoezicht/begeleiding;</li>
                    <li>de huisregels van de instelling waar hij/zij woont en/of begeleiding krijgt;</li>
                    <li>de afspraak dat cliënt contact opneemt met de toezichthouder of begeleider met vragen of ondersteuning. Bij klachten kan de cliënt de klachtenprocedure bij de zorginstelling of de reclassering volgen.</li>
                </ol>
            </div>
            <p class="border-bottom" style="background-color: #e1edfa; border-radius: 6px; padding: 20px; margin-top: 20px;">
                De toezichthouder begeleidt de cliënt in opdracht van justitie en beoordeelt of cliënt zich aan de afspraken en
                voorwaarden houdt. Als de cliënt zich niet aan de afspraken of voorwaarden houdt, meldt de toezichthouder dit aan
                justitie. De toezichthouder vertelt de cliënt welke informatie met anderen wordt gedeeld en betrekt cliënt zo veel
                mogelijk hierbij.
            </p>
            <p class="border-bottom"  style="background-color: #fde8d5; border-radius: 6px; padding: 20px; margin-top: 20px;">
                De begeleider ondersteunt de cliënt gedurende het reclasseringstoezicht in het dagelijks leven (door middel van
                motiveren, helpen, leren, uitleggen, etc.). De begeleider vertelt de cliënt welke informatie met anderen wordt gedeeld
                en betrekt client zoveel mogelijk hierbij.
            </p>
            
            
            <div style="background-color: #f6f6f6; border-radius: 6px; padding: 20px; margin-top: 20px;" >
                <p class="fw-bold">Contactafspraken tussen cliënt, toezichthouder en begeleider</p>
                <span name="" id="" style="width: 100%; height: 200px; border: none; border-radius: 6px; background-color: white; padding: 10px;">{{contact_agreements}}</span>
            </div>
            
            <div style="padding: 20px; margin-top: 20px;">
                <strong>Aandacht en risico’s</strong>
                <p>Op welke onderstaande gebieden wil de cliënt aandacht om te zorgen dat het beter gaat?
                    En op welke gebieden is er een risico om de fout in te gaan?
                    Welke leefgebieden zijn positief en daarmee helpend en beschermend om recidive te voorkomen?</p>
            </div>
            {% load static %}
            <table class="table-2" >
                <tbody>
                    {% for attention_risk in attention_risks %}
                        <tr>
                            <td colspan="1">
                                {% if attention_risk.type == "living" %}
                                    <span style="color: white; font-weight: 500;text-transform: uppercase; width: 150px; padding-left: 6px; display: flex; flex-direction: column; justify-content: center; align-items: center; "><strong>Wonen</strong><img src="{% static 'images/living.png' %}" class="png-image"></span>
                                {% elif attention_risk.type == "datetime" %}
                                    <span style="color: white; font-weight: 500;text-transform: uppercase; width: 150px; padding-left: 6px; display: flex; flex-direction: column; justify-content: space-between; align-items: center; "><strong>DAGBESTEDING</strong><img src="{% static 'images/dayTime.png' %}" class="png-image"></span>
                                {% elif attention_risk.type == "addiction_resources_use" %}
                                    <span style="color: white; font-weight: 500;text-transform: uppercase; width: 150px; padding-left: 6px; display: flex; flex-direction: column; justify-content: space-between; align-items: center; "><strong>VERSLAVING/ MIDDELENGEBRUIK</strong><img src="{% static 'images/addiction.png' %}" class="png-image"></span>
                                {% elif attention_risk.type == "finances" %}
                                    <span style="color: white; font-weight: 500;text-transform: uppercase; width: 150px; padding-left: 6px; display: flex; flex-direction: column; justify-content: space-between; align-items: center;"><strong>FINANCIËN</strong> <img src="{% static 'images/finance.png' %}" class="png-image"></span>
                                {% elif attention_risk.type == "behaviour" %}
                                    <span style="color: white; font-weight: 500;text-transform: uppercase; width: 150px; padding-left: 6px; display: flex; flex-direction: column; justify-content: space-between; align-items: center; "><strong>GEDRAG</strong><img src="{% static 'images/behavior.png' %}" class="png-image"></span>
                                {% elif attention_risk.type == "psychic_health" %}
                                    <span style="color: white; font-weight: 500;text-transform: uppercase; width: 150px; padding-left: 6px; display: flex; flex-direction: column; justify-content: space-between; align-items: center; "><strong>PSYCHISCHE GEZONDHEID</strong><img src="{% static 'images/psyHealth.png' %}" class="png-image"></span>
                                {% elif attention_risk.type == "physical_health" %}
                                    <span style="color: white; font-weight: 500;text-transform: uppercase; width: 150px; padding-left: 6px; display: flex; flex-direction: column; justify-content: space-between; align-items: center; "><strong>LICHAMELIJKE GEZONDHEID</strong><img src="{% static 'images/physicalHealth.png' %}" class="png-image"></span></span>
                                {% elif attention_risk.type == "family" %}
                                    <span style="color: white; font-weight: 500;text-transform: uppercase; width: 150px; padding-left: 6px; display: flex; flex-direction: column; justify-content: space-between; align-items: center; "><strong>FAMILIE</strong><img src="{% static 'images/family.png' %}" class="png-image"></span>
                                {% elif attention_risk.type == "partner_children" %}
                                    <span style="color: white; font-weight: 500;text-transform: uppercase; width: 150px; padding-left: 6px; display: flex; flex-direction: column; justify-content: space-between; align-items: center; "><span style="font-size: small;"><strong>PARTNER/KINDEREN</strong><img src="{% static 'images/partner.png' %}" class="png-image"></span>
                                {% elif attention_risk.type == "friends" %}
                                    <span style="color: white; font-weight: 500;text-transform: uppercase; width: 150px; padding-left: 6px; display: flex; flex-direction: column; justify-content: space-between; align-items: center; "><strong>VRIENDEN</strong><img src="{% static 'images/friends.png' %}" class="png-image"> </span>
                                {% endif %}
                            </td>
                            <td colspan="3">
                                <div style="margin-right: 10px;">
                                    <span for=""><strong>Aandacht</strong></span>
                                    <div class="input-data">{{ attention_risk.attention }}</div>
                                    <span for=""><strong>Risico</strong></span>
                                    <div class="input-data">{{ attention_risk.risk }}</div>
                                    <span for=""><strong>Positief</strong></span>
                                    <div class="input-data">{{ attention_risk.positive }}</div>
                                </div>
                            </td>
                            <td colspan="3">
                                <div style="margin-right: 10px;">
                                    <label for=""><strong>Afspraken</strong></label>
                                    <div class="textaera-data">{{ attention_risk.dates }}</div>
                                    <label for=""><strong>Toelichting</strong></label>
                                    <div class="textaera-data">{{ attention_risk.explanation }}</div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            
            
            <div class=" border-bottom" style="background-color: #f6f6f6; padding: 20px; border-radius: 6px; margin-top: 20px;">
                <h3>Contactmomenten toezichthouder en begeleider</h3>
                <span>Begeleider en toezichthouder informeren elkaar <strong>in ieder geval:</strong></span>
                <ul>
                    <li>bij een wijziging of stagnatie van het reclasseringstoezicht of de begeleiding;</li>
                    <li>als de cliënt zich niet aan de afspraken houdt;</li>
                    <li>als er sprake is van een risico wat zou kunnen leiden tot het plegen van een delict;</li>
                    <li>als de cliënt (als slachtoffer of vermoedelijke dader) betrokken is bij een incident;</li>
                    <li>als er gevaar dreigt voor personen of goederen;</li>
                    <li>als de cliënt een waarschuwing of sanctie krijgt;</li>
                    <li>bij het voornemen de begeleiding of reclasseringstoezicht te beëindigen;</li>
                    <li>als de einddatum van het reclasseringstoezicht wijzigt of ten minste drie maanden voor het beëindigen van het reclasseringstoezicht;</li>
                    <li>als de einddatum van het reclasseringstoezicht wijzigt of ten minste drie maanden voor het beëindigen van het reclasseringstoezicht;</li>
                </ul>
                <span>Toezichthouder en begeleider hebben afspraken gemaakt over hoe er bij <strong>calamiteiten</strong> buiten kantoortijden direct informatie wordt uitgewisseld. Er wordt <strong>direct</strong> contact opgenomen en eventueel politie ingeschakeld:</span>
                <ul>
                    <li>bij een ernstig incident dat direct leidt tot een (tijdelijk) locatieverbod;</li>
                    <li>als er ernstig gevaar dreigt voor personen (cliënt en/of anderen);</li>
                    <li>bij het plegen van een nieuw delict waarbij cliënt is gearresteerd door de politie en in de cel is geplaatst.</li>
                </ul>
            </div>
            <div class=" border-bottom" style="background-color: #e9eaf7; padding: 20px; border-radius: 6px; margin-top: 20px;">
                <h3 style="font-weight: 700;">Mogelijkheid meldingen aan het OM/politie</h3>
                <span>Begeleider en toezichthouder informeren elkaar <strong>in ieder geval:</strong></span>
                <ul>
                    <li>Van dreiging, agressie en/of nieuwe delicten binnen de zorginstelling wordt in principe aangifte gedaan. Als de begeleiding
                        wordt voortgezet, vindt er binnen twee weken een gesprek plaats tussen cliënt, toezichthouder en begeleider.</li>
                    <li>De reclassering kan melding maken bij het OM als de cliënt de afspraken van deze overeenkomst niet nakomt. </li>
                </ul>
            </div>
            <div class=" border-bottom my-5 py-3" style=" padding: 10px; border-radius: 6px; margin-top: 20px;">
                <h3 style="font-weight: 700;">Ondertekening</h3>
                <div style="display: flex; justify-content: space-between; padding-bottom: 46px;"><span >Plaats: </span> <span style="margin-right: 80px;">Datum:</span></div>
            </div>
            
            <table class="table-1" style="margin-top: 20px;">
                <thead>
                    <tr>
                        <th>Cliënt</th>
                        <th>Reclassering</th>
                        <th>Zorginstelling</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div><strong>Naam:</strong></div> <span>{{client_full_name}}</span>
                        </td>
                        <td>
                            <div><strong>Naam:</strong></div><span>{{probation_full_name}}</span>
                        </td>
                        <td>
                            <div><strong>Naam:</strong></div><span>{{healthcare_institution_name}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            
                        </td>
                        <td>
                            
                        </td>
                        <td>
                            <div><strong>Functie:</strong></div><span>{{healthcare_institution_function}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div><strong>Handtekening:</strong></div> <div class="signature"></div>
                        </td>
                        <td>
                            <div><strong>Handtekening:</strong></div><div class="signature"></div>
                        </td>
                        <td>
                            <div><strong>Handtekening</strong></div><div class="signature"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class=" border-bottom my-5 py-3" style=" padding: 10px; border-radius: 6px; margin-top: 20px;">
                <p>Op dit document is bestaande wet- en regelgeving van toepassing</p>
            </div>
            <div class=" border-bottom" style=" padding: 10px; border-radius: 6px; margin-top: 20px;">
                <h3 style="font-weight: 700;">Toelichting document samenwerkingsafspraken</h3>
                <p>tussen <strong>cliënt</strong>, <strong>reclassering</strong> en <strong>zorginstelling</strong></p>
                <p>Het document Samenwerkingsafspraken is gemaakt om de samenwerking te verbeteren bij forensische zorgtrajecten gericht op begeleiding. Het gaat hier over de zorg die in het kader van de Wet forensische Zorg wordt geleverd.</p>
                <p>Forensische zorg gaat over herstel van de cliënt en het zoveel mogelijk verkleinen van het recidiverisico. Een goede samenwerking tussen cliënt, toezichthouder en begeleider vergroot de kans op een succesvol traject. Daarom is het belangrijk om bij de start van het traject duidelijke afspraken te maken over de samenwerking en invulling van het traject. Dat kan door dit document samen in te vullen. Dit document is een startdocument. Het actualiseren en bijstellen van afspraken, doelen en dergelijke vindt plaats in bestaande systemen en/of documenten. </p>
                <p>Een aantal zorgaanbieders, de 3 reclasseringsorganisaties (3RO) en brancheorganisatie Valente hebben het document opgesteld en getoetst bij diverse andere partijen. Deze organisaties hebben afgesproken dat dit document bij de start van alle forensische zorgtrajecten wordt ingevuld. Het document is beschikbaar voor alle reclasseringsorganisaties en BW/MO zorgaanbieders in Nederland en is terug te vinden op: https://efp.nl/projecten/bwmo </p>
                <h3 style="font-weight: 500;">Doelen</h3>
                <span>Met dit document willen we de volgende doelen bereiken: </span>
                <ul>
                    <li>Samenwerking en communicatie tussen cliënt, toezichthouder en begeleider stimuleren.</li>
                    <li>Duidelijk maken wie welke taken en verantwoordelijkheden heeft. </li>
                    <li>Begeleiders bewust maken van hun risico signalerende taak. </li>
                    <li>Cliënt de kans geven om zelf zorg- en risicogebieden te benoemen, zodat er binnen het reclasserings- en zorgtraject wordt gewerkt aan dezelfde doelen (passend binnen het forensisch kader). </li>
                    <li>Het vergroten van de beschermende factoren, bereiken van positieve stabiliteit op de zorg- en risicogebieden om daarmee de kans op recidive te verkleinen. </li>
                </ul>
                <h3>Opmerkingen</h3>
                <p>Wanneer een geconstateerd risico niet door de cliënt wordt gedeeld, is het oordeel van de professional leidend. Bij overige zaken wordt de inbreng van alle partijen gelijk gewogen.</p>
                <p>Het document wordt door alle partijen ondertekend als ‘voor gezien’. Als een cliënt zijn handtekening niet wil plaatsen dan is hij dit niet verplicht. Om goed invulling te geven aan het reclasserings- en zorgtraject, is het belangrijk om het document wel inhoudelijk in te vullen en minimaal door de toezichthouder en begeleider te ondertekenen. De afspraken zijn dan alsnog geldig.</p>
                <p>Na ondertekening ontvangen alle drie de partijen het document om de afspraken na te kunnen lezen. </p>
            </div>
        </div>
    </section>

    <style>
        .table-1 {
            width: 100%;
            border-collapse: collapse;
            overflow: hidden;
            border-radius: 6px;
        }
        .table-1 th:nth-child(1) {
            background-color: #76b82a;
            color: white;
            padding: 5px;
        }
        .table-1 td:nth-child(1) {
            padding: 15px;
            background-color: #e8f1da;
            color: black;
        }

        .table-1 th:nth-child(2) {
            background-color: #3ea3dc;
            color: white;
            padding: 5px;
        }
        .table-1 td:nth-child(2) {
            padding: 15px;
            background-color: #e1edfa;
            color: black;
        }

        .table-1 th:nth-child(3) {
            background-color: #ef7e26;
            color: white;
            padding: 5px;
        }
        .table-1 td:nth-child(3) {
            padding: 15px;
            background-color: #fde8d5;
            color: black;
        }
        
        .signature {
            width: 20vw ;
            height: 150px;
            background-color: white;
            border-radius: 10px;
        }
        .input-data {
            background-color: white;
            min-width: 90px;
            min-height: 30px;
            border-radius: 6px;
            padding-left: 5px;
            padding-right: 5px;
            color: black;
            white-space: pre-line;
        }
        .table-2 {
            width: 100%;
            border-collapse: separate;
            border-spacing: 0 20px;
            overflow: hidden;
            border-radius: 6px;
            color: white;
        }
        

        .table-2 tr:nth-child(odd) {
            background-color: #66247f ;
        }
        .table-2 tr:nth-child(even) {
            background-color: #88549a;
        }
        .textaera-data {
            background-color: white;
            min-width: 90px;
            min-height: 60px;
            border-radius: 6px;
            padding-left: 5px;
            color: black;
            white-space: pre-line;
        }
        .png-image {
            width: 150px;
        }
    </style>
</body>

</html>