<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice V1</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <section id="invoice">
        <div class="container mb-2 pb-2">
            <div class="text-center">
                <h2 class="display-5 fw-bold">Invoice</h2>
            </div>
            <div class="border-top border-bottom my-5 py-3">
                <table>
                    <tr>
                        <td style="width: 70%;">
                            <b class="text-primary">Company info</b>
                            <h4><b>{{ invoice_company_name }}</b></h4>
                            <ul class="list-unstyled">
                                <li>{{ invoice_email }}</li>
                                <li>{{ invoice_address }}</li>
                            </ul>
                        </td>
                        <td>
                            <p class="m-0">Invoice No: <strong>#{{invoice_number}}</strong></p>
                            <p class="m-0">Issue Date: {{ issue_date }}</p>
                        </td>
                    </tr>
                </table>
            </div>

            <table>
                <tr>
                    <td style="width:70%">
                        <b class="text-primary">Bill To</b>
                        <h4><b>{{ company_name }}</b></h4>
                        <ul class="list-unstyled">
                            <li>{{ address }}</li>
                            <li>KVK: {{ KVK }}</li>
                            <li>BTW: {{ BTW }}</li>
                        </ul>
                    </td>
                    <td>
                        <b class="text-primary">Client info</b>
                        <h4><b>{{ client_full_name }}</b></h4>
                        <ul class="list-unstyled">
                            <li>Birthday: {{ client_date_of_birth }}</li>
                            <li>Client id: {{ client_id }}</li>
                        </ul>
                    </td>
                </tr>
            </table>

            <table class="table border my-2">
                <thead>
                    <tr class="bg-primary-subtle">
                        <th scope="col">No.</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                        <th scope="col">VAT Rate</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ic in invoice_contracts %}
                    <tr>
                        <td>{{ ic.contract_id }}</td>
                        <td>{{ ic.item_desc }}</td>
                        <td>{{ site_currency_symbol }}{{ ic.contract_amount_without_tax }}</td>
                        <td>{{ ic.used_tax }}%</td>
                        <td>{{ site_currency_symbol }}{{ ic.contract_amount }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-primary fw-bold">Total: </td>
                        <td class="text-primary fw-bold">{{ site_currency_symbol }}{{ total_amount }}</td>
                    </tr>
                </tbody>
            </table>
            <p class="mb-2"><i>Used currency: {{ site_currency }} ({{ site_currency_symbol }})</i></p>
            <div class="my-1 mt-5">
                <p>{{ extra_content }}</p>
            </div>
            <div class="text-center my-1 mt-5">
                <p class="text-muted">{{ invoice_footer }}</p>
            </div>
            <div id="footer-bottom">
                <div class="container border-top">
                    <div class="row mt-1">
                        <div class="col-md-6 copyright text-center text-muted">
                            <p>© {% now "Y" %} All right reserved.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

</body>

</html>